* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.app {
  background: var(--bg);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.app-header {
  background: var(--surface);
  padding: 1.25rem 2rem;
  border-bottom: 1px solid var(--border);
  box-shadow: var(--shadow);
}

.app-subtitle {
  font-size: 1rem;
  font-weight: 600;
  color: var(--text);
}

.app-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text);
}

.filters-bar {
  background: var(--surface);
  margin: 0 2rem;
  padding: 1rem 1rem;
  border-radius: var(--radius);
  display: flex;
  gap: 2rem;
  align-items: flex-end;
  border: 1px solid var(--border);
  box-shadow: var(--shadow);
}

.filter-item {
  display: flex;
  /* flex-direction: column; */
  gap: 1rem;
  align-items: center;
}

.filter-item label {
  font-size: 0.85rem;
  color: var(--text-muted);
  font-weight: 500;
}

.app-content {
  padding: 0 2rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.map-container {
  background: var(--surface);
  padding: 1rem;
  border-radius: var(--radius);
  border: 1px solid var(--border);
  box-shadow: var(--shadow);
}